@model Entidades.Entidades.Articulo
<partial name="_Navbar" />
<div class="container">
    <h2 class="mt-4">Crear nuevo artículo</h2>
    <form method="post" asp-controller="Articulo" asp-action="CrearArticulo">
        <fieldset>
            <div class="form-group">
                <label asp-for="@Model.Codigo" class="form-label mt-4">Código</label>
                <input asp-for="@Model.Codigo" class="form-control" placeholder="Código">
                <span asp-validation-for="@Model.Codigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Descripcion" class="form-label mt-2">Descripción</label>
                <input asp-for="@Model.Descripcion" class="form-control" placeholder="Descripción">
                <span asp-validation-for="@Model.Descripcion" class="text-danger"></span>
            </div>
            <input type="hidden" value="" name="retorno" id="retorno" />
            <a href="/Articulo" class="btn btn-outline-success mt-2">Cancelar</a>
            <button type="submit" class="btn btn-success mt-2 ml-2" id="guardar">Guardar artículo</button>
            <button type="submit" class="btn btn-success mt-2 ml-2" id="guardarycrear">Guardar y crear otro</button>
        </fieldset>
    </form>
</div>
<script src="~/js/Scripts.js"></script>