@model Entidades.Entidades.Pedido
@if (!string.IsNullOrEmpty(ViewBag.EsAdmin))
{
    <partial name="_NavbarAdmin" />
}
else
{
    <partial name="_Navbar" />
}


<div class="container">
    <h2 class="mt-4">Crear nuevo pedido</h2>
    <div class="input-group mt-4" id="inputArticulo">
        <div class="input-group-prepend">
            <span class="input-group-text">Articulo</span>
        </div>
        <select name="codArt" class="custom-select js-example-basic-single" id="codArt">
            @foreach (var articulo in ViewBag.Articulos)
            {
                <option value="@articulo.IdArticulo">@articulo.Descripcion</option>
            }
        </select>
        <div class="input-group-append">
            <input type="number" class="form-control" placeholder="Cantidad" id="cantArt">
            <button id="nuevoArticulo" class="btn btn-warning">Agregar artículo</button>
        </div>
    </div>
    @if (!string.IsNullOrEmpty(ViewBag.ErrorArticulo))
    {
        <span class="text-danger">@ViewBag.ErrorArticulo</span>
    }
    <form method="post">
        <fieldset>
            <div class="input-group mt-4">
                <div class="input-group-prepend">
                    <span class="input-group-text">Cliente</span>
                </div>
                <select name="idCliente" class="form-select js-example-basic-single" id="idCliente">
                    @foreach (var cliente in ViewBag.Clientes)
                    {
                        <option value="@cliente.IdCliente">@cliente.IdCliente - @cliente.Nombre</option>
                    }
                </select>
                @if (!string.IsNullOrEmpty(ViewBag.ErrorCliente))
                {
                    <span class="text-danger">@ViewBag.ErrorCliente</span>
                }
            </div>
            <div class="container mt-4">
                <table class="table table-hover mt-4">
                    <thead>
                        <tr>
                            <th scope="col">Descripción</th>
                            <th scope="col">Código</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Ver</th>
                        </tr>
                    </thead>
                    <tbody id="listaArticulos">
                    </tbody>
                </table>
            </div>
            <div class="input-group mt-4 mb-4">
                <div class="input-group-prepend">
                    <span class="input-group-text">Comentarios</span>
                </div>
                <textarea asp-for="@Model.Comentarios" class="form-control"></textarea>
                <span asp-validation-for="@Model.Comentarios" class="text-danger"></span>
            </div>
            <input type="hidden" value="" name="retorno" id="retorno" />
            <a href="/Pedido" class="btn btn-outline-warning mt-2">Cancelar</a>
            <button type="submit" class="btn btn-warning mt-2 ml-2 btnAct" id="guardar" disabled>Guardar pedido</button>
            <button type="submit" class="btn btn-warning mt-2 ml-2 btnAct" id="guardarycrear" disabled>Guardar y crear otro</button>
        </fieldset>
    </form>
</div>
